#content.xfluid
  .portlet.x12
    .portlet-header
      h4 Estimate Management
    .portlet-content
      div#breadCrumb.breadCrumb.module
        ul
          li
            a(href="#")
              |Home
          li
            a(href="/customer/#{breadcrumb.cust.id}")
              |#{breadcrumb.cust.name}
          li
            a(href="/job/#{breadcrumb.job.id}")
              |#{breadcrumb.job.name}
          li
            |#{breadcrumb.estimate.name}
      br
      br
      include estimateDetails_estimate.jade
      //include estimateDetails_lineitems.jade

script(type="text/javascript")
  $(document).ready(function() {
    $('#breadCrumb').jBreadCrumb();
  });