script(id="editLineItemTmpl", type="text/x-jQuery-tmpl")

  table
    tr
      td
        .field
          label(for='name') Name
          input#name.medium(name='formEstimate[name]', size='20', type='text', value='#{estimate.name}')
      td

    tr
      td
        .field
          label Creation Date
          #{estimate.creationDate}
      td
        .field
          label Status
          #{estimate.status}
    tr
      td
        input#editEstimate.btn(type='submit', value='Update')
      td
        input#id(name='formEstimate[id]', value='#{estimate._id}', type='hidden')


script(id="addLineItemOverlayTmpl", type="text/x-jQuery-tmpl")

    h4 Add Estimate Line Item
    form.form.label-inline(id='addLineItemForm', action='/estimate/addLineItem/#{jobID}/#{estimate._id}', method='post')
      table
        tr
          td
            .field
              label(for='name') Name
              input#name.medium(name='lineItem[name]', size='20', type='text', value='')
          td
            .field
              label(for='description') Description
              input#description.medium(name='lineItem[description]', size='20', type='text', value='')
        tr
          td
            .field
              label(for='quantity') Quantity
              input#quantity.medium(name='lineItem[quantity]', size='20', type='text', value='')
          td
            .field
              label(for='cost') Cost
              input#cost.medium(name='lineItem[cost]', size='20', type='text', value='')
        tr
          td
            input#saveLineItem.btn(type='submit', value='Add')
          td

script(id="lineItemDataTableOverlayTmpl", type="text/x-jQuery-tmpl")

  
    thead
      tr
        th ID
        th Name
        th Description
        th Quantity
        th Cost
    tbody