form.form.label-inline(id='editEstimateForm', action='/estimate/edit', method='post')
  table
    tr
      td
        .field
          label(for='name') Name
          input#name.medium(name='formEstimate[name]', size='20', type='text', value='#{estimate.name}')
      td

    tr
      td
        .field
          label Creation Date
          #{estimate.creationDate}
      td
        .field
          label Status
          select#status(name="formEstimate[status]")
            option(value="Active") Active
            option(value="Selected") Selected
            option(value="Inactive") Inactive
          #{estimate.status}
    tr
      td
        input#editEstimate.btn(type='submit', value='Update')
      td
        input#id(name='formEstimate[id]', value='#{estimate._id}', type='hidden')
        input#id(name='formEstimate[quoteID]', value='#{estimate.quoteID}', type='hidden')


script(type="text/javascript")
  $(document).ready(function() {
    if('#{estimate.status}' == "Unused") {
      $("#editEstimate").toggle();
      $("#status").toggle();
    }

  });