include ../includes/menu.jade
include estimateDetails_content.jade
include ../includes/footer.jade
include estimate_templates.jade

script(type="text/javascript", src="/js/estimateManagement.js")

script
  var estimateManagement;
  $(document).ready(function () {
    estimateManagement = new EstimateManagement({
      "jobId": '#{jobID}',
      "estimateId": '#{estimate._id}',
    });
    if('#{estimate.status}' == "Unused") {
      $("#addLineItem").toggle();
    }
    if('#{estimate.status}' == "Selected") {
      $("#addLineItem").toggle();
    }
    $('#status').val('#{estimate.status}');
    $("#estimateName").toggle();
    $("#estimateStatuslbl").toggle();
    if('#{estimate.status}' == "Unused") {
      $("#editEstimate").toggle();
      $("#estimateStatuslbl").toggle();
      $("#status").toggle();
      $("#estimateName").toggle();
      $("#name").toggle();
    }
    if('#{estimate.status}' == "Selected") {
      $("#estimateName").toggle();
      $("#name").toggle();
    }
    if('#{estimate.status}' == "Inactive") {
      $("#estimateName").toggle();
      $("#name").toggle();
    }
  });