#content.xfluid
  a(name='line')
  #gallery_wrapper.portlet.x8
    .portlet-header
      h4 Image Gallery
      //- p
      //-   button(rel="#custom", type="button") custom
      //- div#custom.apple_overlay
      //-  | Hello There

    .portlet-content
      div#tagscope
        form#magicboxform(name="magicboxform", action="")
            input#addtagType(name="tagtype", value="tag", type="hidden")
            input#addFilter(name="addFilter", value="Add a Tag Filter",
              type="text")
            input#filters(name='filters', type='hidden', value='')
            button#searchMediaBtn.btn 
              |Search
        div#searchTags.tagList
          

        
        
      br
      br
      ul#mediaList.gallery
      div#mediaOverlay

   .portlet.x4
        .portlet-header
          h4 Upload File
        //
           .portlet-header 
        .portlet-content
          form#add-user-form.form.label-top
            .field
              label(for='filename') File Name 
              input#fileName(name='filename', size='30', type='text', value='')
            .field
              label(for='description') Description 
              input#description(name='description', size='30', type='text', value='')
            .field.clearfix
              label(for='file') File Upload 
              input#file.file(name="file", style='opacity: 0;', size='35', type='file')

            div.field
              label(for='tags') Tags 
              div#tagsList.field

            div.field
              select#tagsAvailable
                option(value="default") Select a tag

            div.field
              input#tagName(name='tagName', size='20',
                type='text', value='tag 7')
              button#createTag.btn Add Tag

            input#newTags(name='newTags', type='hidden', value='')
            input#existingTags(name='existingTags', type='hidden', value='')

            div.field
            .buttonrow
              button#createMedia.btn Upload File


script(id="searchMediaTmpl", type="text/x-jQuery-tmpl")
  div.tag(query="${name}", class="${name}")
    div.removeFilter(query="${name}")
    div.filter
      span.name
        |${name}


script(id="availableTagsTmpl", type="text/x-jQuery-tmpl")
  option(value="${_id}") ${name}


script(id="mediaOverlayTmpl", type="text/x-jQuery-tmpl")
  div.apple_overlay(id="${src}")
    img(alt='', src='/media/${src}')


script(id="mediaGalleryTmpl", type="text/x-jQuery-tmpl")
  li(id="${_id}", data-id="${_id}")
    b ${name}
    br
    img(alt='', src='/media/${thumbnail}', width='150', height='150')
    .actions
      button.btn.btn-orange.btn-small.various(rel='#${src}') View
      button.btn.btn-orange.btn-small.editImg(href='#editImage') Edit
      button.btn.btn-grey.btn-small.delete.deleteImage(media="${_id}") Delete


script
  function bindImageListeners() {
    console.log("bindImageListeners");
    $("button[rel]").overlay({mask: '#000', effect: 'apple'});
    /*
    *   Update media
    */
    $(".editImg").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $(".deleteImage").click(function () {
      var mediaID = $(this).attr("media")
        , that = this;
      $.post("/media/delete", { "mediaID": mediaID }, function (data) {
        // $("#"+mediaID).remove();
        searchMedia();
        setExistingTags();
      })
    });
  }
 
  function searchMedia () {
    console.log("search media");
    var filters = $("#filters").val();
    console.log("filters: " + filters);
    $.post("/media/search", { filters: filters }, function(data) {
      console.log("data");
      console.log(data);
      // $("#mediaGalleryTmpl").tmpl(data).appendTo("#mediaList");
      $("#mediaOverlayTmpl").tmpl(data).appendTo("#mediaOverlay");
 
      $('.gallery').quicksand( $("#mediaGalleryTmpl").tmpl(data), {
          adjustHeight: 'dynamic'
        }, function () {
          console.log("quicksand callback");
          bindImageListeners();
        });
      
    });
  }
 
  function setExistingTags() {
    console.log("setExistingTags");
    $.get("/tags/get", function (data) {
      console.log("get tags");
      // console.log(data);
      // console.log($("#availableTagsTmpl"));
      $("#tagsAvailable").empty();
      $("#newTags").val("");
      $("#existingTags").empty("");
      $("#availableTagsTmpl").tmpl(data).appendTo("#tagsAvailable");
    });
  }
 
 
  $(document).ready(function () {
    searchMedia();
    setExistingTags();
 
    // bind form using 'ajaxForm' 
    $('#add-user-form').ajaxForm({
      url:       "media/create",
      type:      "POST",
      dataType:  "json",
      clearForm: true,
      beforeSubmit: function (formData, jqForm, options) {
        // formData is an array of objects containing the values of the form
        // jqForm is the html form element
        // options are the object initialized with ajaxForm
        // maybe validate the for before submiting
        // if form is not valid return false
        return true;
      },
      success: function (data) {
        console.log("create media success");
        // $("#mediaGalleryTmpl").tmpl(data).prependTo("#mediaList");
        // bindImageListeners();
        searchMedia();
 
        $("#tagsList").empty();
        setExistingTags();
        
      },
    });
 
    $("#searchMediaBtn").click(function (e) {
      var data = {
        name: $("#addFilter").val()
      };
      $("#searchMediaTmpl").tmpl(data).appendTo("#searchTags");
      console.log("filters: " + $("#filters").val());
      $("#filters").val($("#filters").val() + "," + data.name);
      console.log("filters: " + $("#filters").val());
      searchMedia();
      return false;
    }); // CLOSE searchMediaBtn.click
 
    $("#createTag").click(function (e) {
      console.log("create tag click");
      var tag = {
        name: $("#tagName").val(),
      };
      $("#searchMediaTmpl").tmpl(tag).appendTo("#tagsList");
      $("#newTags").val($("#newTags").val() + "," + tag.name);
      $("#tagName").val("")
      console.log("newTags: " + $("#newTags").val());
      return false;
    }); // CLOSE createTag.click
 
  $("#tagsAvailable").change(function () {
    console.log("tags available change");
    console.log('$("#tagsAvailable").val()');
    console.log($("#tagsAvailable").val());
    if ($("#tagsAvailable").val() == "default") {
      return false;
    }
    var tag = {
      name: $("#tagsAvailable :selected").text(),
    };
    $("#existingTags").val(
      $("#existingTags").val() + "," + $("#tagsAvailable").val()
    );
    $("#searchMediaTmpl").tmpl(tag).appendTo("#tagsList");
    $('#tagsAvailable :selected').remove(); 
  }); // CLOSE tagsAvailable.change
 
  
 
  }); // CLOSE document.ready