form.form.label-inline(id='editJobForm', action='/job/edit', method='post')
  table
    tr
      td
        .field
          label(for='name') Name
          input#name.medium(name='formJob[name]', size='20', type='text', value='#{job.name}')
          span #{errors.name}
      td
        .field
          label(for='desc') Description
          input#desc.medium(name='formJob[description]', size='45', type='text', value='#{job.description}')
          span #{errors.description}
    tr
      td
        .field
          label Creation Date
          #{job.creationDate}
      td
        .field
          label Status
          #{job.status}
    tr
      td
      td
        table(style='width:auto')
          tr
            td
              .field
                label Scheduled Dates
            td(align='left')
              div#datepicker
    tr
      td
        input#editJob.btn(type='submit', value='Update')
      td
        input#id(name='formJob[id]', value='#{job._id}', type='hidden')
        input#scheduledDates(name='formJob[scheduledDates]', value='#{job.scheduledDates}', type='hidden')

script(type="text/javascript")
  $(document).ready(function() {
    var dateArray = '#{dates}'.split(",");
    $("#datepicker").multiDatesPicker();
    $("#datepicker").multiDatesPicker('addDates', dateArray);
    // On edit form submit
    $('#editJobForm').submit(function() {
      var dates = $('#datepicker').multiDatesPicker('getDates');
      $("#scheduledDates").val(dates);
    });
  });
script(type="text/javascript")
  console.log("test");